body{
  background: white;
  padding-top:4em;
}

.container-fluid{
  margin: 0em 2em 2em 2em;


}

/*move logo*/
.navbar > a{
padding-left:2em;
}

/*nav text color*/
#navtext{
  color: white;
}

.navbar-custom{

  background-color: lightblue;
}
/*navitem spacing*/
.navbar-nav > li{
  padding-left:2em;
  padding-right:2em;

}
#picCarousel{
  padding-top: 2em;
  padding-bottom: 2em;
}


.carousel-item{
  height: 40em;
  width: 100%;
}

.carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */
    width: 100%; /* Set width to 100% */
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 100%) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}


.jumbotron {
  margin-bottom: 0;
  min-height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
}

.jumbotron h3 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h6 {
  margin: 0 0 20px;
  color: #fff;
}

#stage {
    position: relative;
    display: flex;
    text-align: center;
    background-image:url("maxresdefault.jpg");
    background-size: cover;
    color: #ffffff;
    height: 30em;
    text-shadow: 0.25px 0.25px 0.25px #000000;
}

#stage-caption{
  position: absolute;
  font-size: 1.4rem;
  font-weight: 200;
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
  bottom:3em;
}

#stage-caption h1{
  color: white;
  font-weight: bold;
}


#jumbo_btn{
  border-radius: 2px;
  border: 0px;
  color: white;
  text-shadow: none;
  background-color: lightblue;
}

#jumbo_btn:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

#description{
  padding-top: 1em;
  text-align: center;
}


/* Video */
/* Default hide the video on all devices */
#video{display:none}

/* Default display the image to replace the video on all devices */
#videosubstitute{display:block;width:100%;height:20em;max-width:100%}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
#video{display:block}
#videosubstitute{display:none}
}
#videoDiv {position: relative; width: auto%; height: 30em; overflow: hidden;}
#videoBlock,#videoMessage {width: 100%; height: auto; position: absolute; top: 0; left: 0;}
#video{width: 100%; }
#videoMessage {padding:0.4em; margin:0}
#videoMessage {text-shadow: 2px 2px 2px #000000; color:white;z-index:99 }
#videoMessag2 h1{font-size: 3em;color:#ffffff;text-align:center;}
#videoMessage h2{font-size: 2.5em;color:#ffffff;text-align:center;}
#videoMessage2 h3{font-size: 2.0em;color:#ffffff;text-align:center;}
.videoClick {text-align:center}
.videoClick a{color:white;background-color:rgba(241, 241, 241, 0.25);font-size: 1.7em;cursor:pointer;cursor:hand}


/*footer*/
.footer-middle{
   background: #3d6277;
  padding-top: 2em;
  color: white;
}
