html,body{
  height: 100%;
}
body{
  -webkit-font-smoothing: antiliased;
  text-rendering: optimizeLegibility;
  color: pink;
}
h1,h2,h3,h4,h5 {
  color: #333;
}

h6{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: .01rem
}

img{
  max-width: 100%;
}

.blockquote {
  font-size: 1.6rem
  color: purple;
  border: none;
  padding: 0;
}

.blockquote-footer{
  margin: 1rem 0 0;
}

#stage{
  background: url('maxresdefault.jpg')center center no-repeat;
  background-size: cover;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

#stage-caption{
  font-size: 1.4rem;
  font-weight: 200;
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
}

#stage-caption h1{
  color: white;
  font-weight: bold;
}

.row{
  padding: 8rem 0;
  overflow: hidden;
}

#section2{
  background: grey;
  color: white;
}
#section2 img{
  margin-bottom: -8rem;
}
